@import url("https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap");

a {
  color: black !important;
}

.brand-logo,
h2 {
  font-family: "Grand Hotel", cursive;
}

.loginCard {
  margin-top: 30px;
}

.auth-card {
  padding: 20px;
  text-align: center;
  max-width: 400px;
  margin: 10px auto;
}

.input-field input:focus {
  border-bottom: 1px solid #1976d2 !important;
  box-shadow: 0 1px 0 0 #1976d2 !important;
}

.customLink {
  margin-top: 5px;
  text-decoration: underline;
}

.profileImg {
  width: 160px;
  height: 160px;
  border-radius: 50%;
}

.profileRoot {
  max-width: 550px;
  margin: 0px auto;
}

.customProfile {
  display: flex;
  justify-content: space-around;
  margin: 18px 0px;
  border-bottom: 1px solid grey;
}

.userActivity {
  display: flex;
  justify-content: space-between;
  width: 108%;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.item {
  width: 30%;
}

.home-card {
  max-width: 500px;
  height: max-content;
  margin: 25px auto;
}

.createPost {
  margin: 20px auto;
  max-width: 500px;
  padding: 20px;
  text-align: center;
}

#toast-container {
  margin: 30px auto;
}
